.rp-similar-articles-hide {
    display: none;
}

#entries.list .rp-similar-articles .collapsed .entry-secondary .entry-title {
    font-style: italic;
    color: gray;
    padding-left: 30px;
}

.rp-similar-articles-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/icon.png');
    background-repeat: no-repeat;
}

#rp-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    z-index: 9998;
}

#rp-details {
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 200px;
    right: 200px;
    z-index: 9999;
    padding: 0px;
    background-color: white;
    opacity: 1;
    border-radius: 3px;
    box-shadow: #808080;
}

#rp-title-bar {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(0,0,0,0.2);
    padding: 5px;
    color: #333;
    font-weight: bold;
}

#rp-title {
    display: inline-block;
    padding-left: 5px;
    user-select: none;
    -webkit-user-select: none;
}
#rp-close {
    display: inline-block;
    float: right;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#rp-slider-caption {
    margin-bottom: 10px;
}

#rp-slider {
    margin-bottom: 10px;
}

#rp-content {
    padding: 10px;
}

#rp-details-button {
    -webkit-user-select: none;
}

#rp-container {
}

#rp-groups-holder {
    position: absolute;
    overflow: scroll;
    left: 5px;
    right: 5px;
    top: 100px;
    bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#rp-groups {

}

.rp-num-groups {
    padding-left: 3px;
}

.rp-group {
}

.rp-group-header {
    background-color: rgba(0,0,0,0.2);
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    margin-bottom: 3px;
    margin-top: 8px;
}

.rp-entry {
    padding-left: 6px;
}

.rp-entry-separator {
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
    border-right-style: solid;
    border-right-color: #808080;
}